body {
  background-color: antiquewhite;
}

html,
body {
  /* overscroll-behavior-x: contain; */
}

.App {
}

.canvasContainer {
  touch-action: none;
}

.svgCanvas {
  position: absolute;
  left: 0;
  top: 0;
}

.toolbar {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  width: 40px;
  padding: 16px;
  border-radius: 16px;
}

.icon {
  font-size: 18px;
}

.toolbar button {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  opacity: 0.4;
  margin-bottom: 16px;
}

.on {
  opacity: 1 !important;
}

.color {
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.brushSize {
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
